.App.container {
  padding-top: 40px;
}
.property-grid {
  display: flex;
  flex-wrap: wrap;
}

.property-list {
  width: 100%;
}

.btn-block {
  padding: 8px;
  flex-direction: row-reverse;
}

.btn-block > .btn {
  margin: 5px;
}


.property-list tr {
  height: 50px;
  border-top: 1px solid #cccccc;
}

.financial > span {
  font-size: 20px;
}